<div id="sign-in-form">
  <div class="row">
    <div class="col-md-3" id="left-sign-in">
      <h2 id="sign-in-title"><u>Coin Master</u></h2>
      <%= simple_form_for(:session, url: sessions_path) do |f| %>
        <%= f.input :name, as: :string %>
        <%= f.input :password %>
        <%= f.button :submit, 'Log In', class: 'btn btn-primary', id: 'login-button' %>
      <% end %>
    </div>

    <div class="col-md-9" id="right-sign-in">
      <img src='http://images.rapgenius.com/180ec864a554a1ebdc8cd21979b5a4c8.1000x1000x1.jpg'>
    </div>
  </div>
</div>
